.table1  {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 60%;
    border: 1px solid #808080;
    margin-left: auto;
    margin-right: auto;
    
}
 
.table1 tr th{
    background: #FFA07A;
    color: black;
    font-weight: bold;
}
 
.table1, th, td {
    padding: 8px 20px;
    text-align: center;
}
 
.table1 tr:hover {
    background-color: #AFEEEE;
}
 
.table1 tr:nth-child(even) {
    background-color: #FFE4E1;
}


